/*input[type=radio] {
    margin-left: 0px;
}*/
input[type="radio"], input[type="checkbox"] {
    display: inline!important;
}

.subtituloGeneral{
    text-align: justify;
}

.keyboard-content{
    margin-top: 8px;
}

.keyboard{
    margin-right: 0!important;
}