<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-6">
      <label class="control-label col-sm-4">Codigo del Lote</label>
      <div class="col-sm-8">
        <input class="form-control" disabled value={{detail.processBatchId}}>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <label class="control-label col-sm-4">Fecha de Ingreso</label>
      <div class="col-sm-8">
        <input class="form-control" [ngModel]="detail.dateProcess | date:'yyyy-MM-dd'" disabled value={{detail.dateProcess}}>
      </div>
    </div>
    <div class="col-sm-6">
      <label class="control-label col-sm-4">Estado del Lote</label>
      <div class="col-sm-8">
        <input class="form-control" disabled value={{detail.statusOperation}}>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <label class="control-label col-sm-4">Tipo de Operacion</label>
      <div class="col-sm-8">
        <input class="form-control" disabled value={{detail.typeOperation}}>
      </div>
    </div>
    <div class="col-sm-6">
      <label class="control-label col-sm-4">Cuenta Origen</label>
      <div class="col-sm-8">
        <input class="form-control" disabled value={{detail.sourceAccount}}>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <label class="control-label col-sm-4">Monto del Lote</label>
      <div class="col-sm-8">
        <input class="form-control" disabled value={{detail.amount}}>
      </div>
    </div>
    <div class="col-sm-6">
      <label class="control-label col-sm-4">Moneda del Lote</label>
      <div class="col-sm-8">
        <input class="form-control" disabled value={{detail.currency}}>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <app-pagination [totalItems]="detail.spreadsheet.length" [maxSize]="3" (onChange)="handlePageChanged($event)"></app-pagination>
  <br>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Monto</th>
          <th scope="col">Cuenta Destino</th>
          <th scope="col">Banco</th>
          <th scope="col">Tipo Documento</th>
          <th scope="col">Documento </th>
          <th scope="col">Ext. Doc</th>
          <th scope="col">Sucursal Destinatario</th>
          <th scope="col">Codigo Servicio</th>
          <th scope="col">Razon Social</th>
          <th scope="col">E-mail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of payments.spreadsheet">
          <td>{{data.amount}}</td>
          <td>{{data.targetAccount}}</td>
          <td>{{data.banksName}}</td>
          <td>{{data.documentType}}</td>
          <td>{{data.idc}}</td>
          <td>{{data.documentExtension}}</td>
          <td>{{data.branchOfficeDescription}}</td>
          <td>{{data.serviceCode}}</td>
          <td>{{data.businessName}}</td>
          <td>{{data.mail}}</td>
        </tr>
      </tbody>
    </table>
  </div>
