@import '~@angular/material/theming';

@include mat-core();

$mat-uv-primary: ( 50 : #e0e9f2, 100 : #b3c8de, 200 : #80a4c8, 300 : #4d7fb1, 400 : #2663a1, 500 : #004890, 600 : #004188, 700 : #00387d, 800 : #003073, 900 : #002161, A100 : #91acff, A200 : #5e86ff, A400 : #2b60ff, A700 : #124cff, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #ffffff, 400 : #ffffff, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #ffffff, A700 : #ffffff, ) );
$mat-uv-accent: ( 50 : #e7f3fb, 100 : #c2e0f4, 200 : #9acced, 300 : #71b7e6, 400 : #52a7e0, 500 : #3498db, 600 : #2f90d7, 700 : #2785d2, 800 : #217bcd, 900 : #156ac4, A100 : #f5f9ff, A200 : #c2ddff, A400 : #8fc1ff, A700 : #75b3ff, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, ) );


$uv-app-primary: mat-palette($mat-uv-primary);
$uv-app-accent: mat-palette($mat-uv-accent, A200, A100, A400);
$uv-app-warn: mat-palette($mat-red);

$uv-app-theme: mat-light-theme($uv-app-primary, $uv-app-accent, $uv-app-warn);

@include angular-material-theme($uv-app-theme);
