<table class="table table-condensed table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 20%">COD</th>
      <th scope="col" style="width: 40%">DESCRIPCION ORIGINAL</th>
      <th scope="col" style="width: 40%">DESCRIPCION NUEVA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Y
      </td>
      <td class="text-left">
        Capital provieniente de liquidacion total o parcial de las empresas en las que se
        haya realizado la inversion extranjera
      </td>
      <td class="text-left">
        1. Capital Empresas C/inv. Extrajera
      </td>
    </tr>
    <tr>
      <td>
        UTL
      </td>
      <td class="text-left">
        Utilidades netas generadas de la inversión extranjera.
      </td>
      <td class="text-left">
        2. Utilidades Netas P/Inv. Extranjera.
      </td>
    </tr>
    <tr>
      <td>
        IRC
      </td>
      <td class="text-left">
        Ingresos resultantes de la solución de controversias.
      </td>
      <td class="text-left">
        3. Ingresos P/Solución Controversias.
      </td>
    </tr>
    <tr>
      <td>
        PAA
      </td>
      <td class="text-left">
        Pago a acreedores(prestamos) domiciliados en el exterior relacionados directamente
        con inversión extranjera.
      </td>
      <td class="text-left">
        4. Pago Acreed.Prest. C/Inv. Extranjera.
      </td>
    </tr>
    <tr>
      <td>
        IMP
      </td>
      <td class="text-left">
        Pago a proveedores de bienes domiciliados en el exterior relacionados directamente
        con inversión extranjera.
      </td>
      <td class="text-left">
        5. Pago Prov. Bienes C/Inv. Extranjera.
      </td>
    </tr>
    <tr>
      <td>
        PAG
      </td>
      <td class="text-left">
        Pago a proveedores de servicions domiciliados en el exterior relacionados directamente
        con inversión extranjera.
      </td>
      <td class="text-left">
        6. Pago Prov. Servicios C/Inv. Extranjera.
      </td>
    </tr>
    <tr>
      <td>
        OPB
      </td>
      <td class="text-left">
        Otros pagos a proveedores o acreedores de bienes domiciliados en el exterior.
      </td>
      <td class="text-left">
        7. Pago Prov o Acreed. Bienes S/Inversión Extranjera.
      </td>
    </tr>
    <tr>
      <td>
        OPS
      </td>
      <td class="text-left">
        Otros pagos a proveedores o acreedores de servicios domiciliados en el exterior.
      </td>
      <td class="text-left">
        8. Pago Prov. o Acreed. Serv. S/ Inversión Extranjera.
      </td>
    </tr>
    <tr>
      <td>
        REM
      </td>
      <td class="text-left">
        Remesas Familiares.
      </td>
      <td class="text-left">
        9. Remesas familiares.
      </td>
    </tr>
    <tr>
      <td>
        VAR
      </td>
      <td class="text-left">
        Otras Transferencia al exterior.
      </td>
      <td class="text-left">
        10. Otras transferencias sl exterior.
      </td>
    </tr>
  </tbody>
</table>