<form name="passwordValidationForm" (ngSubmit)="passwordValidationForm.valid && handleSubmit()" #passwordValidationForm="ngForm" novalidate autocomplete="off">
  <div class="form-group">
    <label>Número de acceso: {{accessNumber}}</label>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': passwordValidationForm.submitted && !pass.valid }">
    <label for="password">Clave de internet</label>
    <div class="input-group">
      <input type="password" class="form-control" name="pass" tabindex="2" [(ngModel)]="password" #pass="ngModel" required />
    </div>
    <div *ngIf="passwordValidationForm.submitted && !pass.valid" class="help-block">La contraseña es obligatoria</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!passwordValidationForm.valid">Aceptar</button>
  <button type="button" class="btn btn-primary" (click)="handleClose()">Cancelar</button>
</form>
