<app-company-name></app-company-name>
<div>
  <h3>Este formulario le permite preparar operaciones Pago de Impuestos Cheque de Gerencia. Seleccione la cuenta de
    origen, la moneda de la operacion. </h3>
</div><br>
<div class="disable-form">
  <app-source-accounts [accountRequest]="request" (onChange)="handleSourceAccountChanged($event)" [disabled]="isDisabledAfterSave"
    #source></app-source-accounts>
  <app-currency-and-amount [disabledAfterSave]="isDisabledAfterSave" [verifyFundDeclarationAmount]="true" [amount]="PaymentTaxCheckData.amount"
    [disabled]="isDisabledAfterSave" [isAmountDisabled]="true" [isFlagVisible]="true" (onChange)="handleCurrencyAndAmountChanged($event)"
    #amountandcurrency></app-currency-and-amount>
  <app-description-payment (onChange)="handleDescription($event)" [disabled]="isDisabledFormAccount" #description></app-description-payment>
</div>
<app-ticket [disabled]="isDisabledAfterSave" [sourceCurrency]="source.accountSelected.currency" [destinationCurrency]="amountandcurrency.data.currency"
  [amount]="amountandcurrency.data.amount" (onChange)="handleObtainedTicket($event)" #ticket></app-ticket>
<app-emails-input (onChange)="handleEmails($event)" [disabled]="isDisabledAfterSave"></app-emails-input> <br>
<div class="panel-button-right" *ngIf="!isValid">
  <button class="col-xs-10 col-sm-2 col-sm-offset-9 btn btn-primary" (click)="handleFirstVerify(true)"> <span class="icon-calendario icono-naranjo">
    </span>Insertar Detalle</button>
</div>
<div align="center" *ngIf="isValid && typeDetailSelected === 0">
  <button (click)="typeDetailSelected = 1" class="btn btn-info"><img src="assets/img/cw/importararchivotxt.gif"></button>
  <button (click)="typeDetailSelected = 2" class="btn btn-info" (click)="getPreviousForm()"><img src="assets/img/cw/cargarplanillaanterior.gif"></button>
  <button (click)="typeDetailSelected = 3" class="btn btn-info"><img src="assets/img/cw/crearplanilla.gif"></button><br><br>
</div>
<div align="center" *ngIf="isValid">
  <h5><b> PAGO DE IMPUESTOS CHEQUE DE GERENCIA</b></h5>
</div>
<ng-container *ngIf="!isPaymentSuccessful" [ngSwitch]="typeDetailSelected">
  <app-import-files *ngSwitchCase="1" (action)="handleFile($event)"></app-import-files><br>
  <app-load-previous-form-payments-check *ngSwitchCase="2" [previousForm]="previousForm" (action)="handleSendId($event)"></app-load-previous-form-payments-check><br>
  <app-list-detail-payments *ngSwitchCase="3" [disabled]="isDisabledAfterSave" [detail]="detail" [requestId]="requestId"
    (action)="handleActionRow($event)"></app-list-detail-payments><br>
</ng-container>
<app-company-limits [isVisible]="isVisibleAuthandControllers"></app-company-limits>
<app-approvers-and-controllers [isVisible]="isVisibleAuthandControllers" [approversRequest]="approversRequest"
  [currency]="amountandcurrency.data.currency" [disabled]="isDisabledAfterSave" [amounts]="getAmounts()" (onChange)="handleApproversOrControllersChanged($event)"
  #approversAndControllers></app-approvers-and-controllers>
<div class="form-group row" *ngIf="verifyamount == true">
  <button class="col-xs-12 col-sm-3 col-sm-offset-9  btn btn-primary" (click)="handleValidate(amountandcurrency.handleValidate(),  ticket.handleValidate(), approversAndControllers.handleValidate(), approversAndControllers.validateApproversLimit(), source.handleValidate())"
    *ngIf="!isPaymentSuccessful">
    <span class="icon-Selected icono-naranjo"> </span>Aceptar
  </button>
</div><br><br>
<div *ngIf=val0 align=right class="form-group row">
  <button class="col-xs-12 col-sm-3 col-sm-offset-9  btn btn-primary" [routerLink]="['/massPayments/taxPaymentCheckManagement']">Cancelar</button>
</div><br><br>
<app-token-modal [isVisible]="isVisibleToken" (onSubmit)="handleTokenSubmit($event)" (onClose)="isVisibleToken=false"></app-token-modal>
<app-modal [visible]="isRemoveModalVisible" (onClose)="isRemoveModalVisible=false" [size]="'md'">
  <div class="app-modal-header"> Operación Realizada </div>
  <div class="app-modal-body">
    Su operación ha sido enviada satisfactoriamente a "Pagos Masivos Pendientes", desde donde el(los) usuario(s)
    que cuente(n) con los permisos, podrán controlar y/o autorizar la transacción. Una vez aprobada su operación, es
    muy importante
    que pueda verificar en la pantalla de “Seguimiento” hasta comprobar que su operación se procesó correctamente
    <strong>N° Lote {{processBatchNumber}}.</strong>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-primary" (click)="newFin=true" (click)="isRemoveModalVisible=false" (click)="isVisibleAuthandControllers=false"
      (click)="val0=false">Aceptar</button>
  </div>
</app-modal>
<div class="form-group row" *ngIf="newFin==true">
  <div>
    <h3>
      Su operación ha sido enviada satisfactoriamente a "Pagos Masivos Pendientes", desde donde el(los) usuario(s)
      que cuente(n) con los permisos, podrán controlar y/o autorizar la transacción. Una vez aprobada su operación, es
      muy importante
      que pueda verificar en la pantalla de “Seguimiento” hasta comprobar que su operación se procesó correctamente
      <strong>N° Lote {{processBatchNumber}}.</strong></h3>
  </div>
  <button class="col-xs-12 col-sm-3 col-sm-offset-9  btn btn-primary" [routerLink]="['/massPayments/taxPaymentCheckManagement']">
    Nuevo </button>
</div>
<app-modal [visible]="excedeedAmount" (onClose)="excedeedAmount=false" [size]="'md'">
  <div class="app-modal-header">Saldo insuficiente</div>
  <div class="app-modal-body">Estimado cliente, su operación será rechazada si no cuenta con fondos suficientes al
    momento de realizar la autorización.</div>
  <div class="app-modal-footer"><button type="button" class="btn btn-primary" (click)="excedeedAmount=false; showToken();">Aceptar</button></div>
</app-modal>