<div class="table-responsive">
  <table class="table table-condensed table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 20%">Referencia del Remitente</th>
        <th scope="col" style="width: 15%">Cliente Ordenante Dos de Cinco</th>
        <th scope="col" style="width: 25%">Cuenta de Destino</th>
        <th scope="col">Monto</th>
        <th scope="col">Moneda</th>
        <th scope="col">Fecha</th>
        <th scope="col">SWIFT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of received">
        <td>{{detail.reference}}</td>
        <td>{{detail.clientOrderingTwoOfFive}}</td>
        <td>{{detail.beneficiaryClientTwoOfFive}}</td>
        <td>{{detail.amount}}</td>
        <td>{{detail.currencyCode}}</td>
        <td>{{detail.dateValidationProcess}}</td>
        <td>
          <button type="button" class="btn btn-default notas--icono" (click)="handleGetReport(detail)">
            <i class="icon-Descargar icono-naranjo"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>