<div class="row">
  <div class="col-sm-6">
    <div class="container-fluid">
      <app-date-range-picker [(ngModel)]="dateRange" [options]="optionsDateRange"></app-date-range-picker>
    </div>
  </div>

  <div class="col-sm-6">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4 control-label ">Lotes:</label>
        <div class="col-sm-6">
          <input type="text" name="batchIds" id="lotInput" [(ngModel)]="lotInput" class="form-control" placeholder="N° de Lote (Ejem: 00,00)"
            (ngModelChange)="handleCaptureLotInput()" appOnlyType="numberList" #batchIds="ngModel" />
          <app-show-errors [control]="batchIds"></app-show-errors>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label ">Tipo de Operación:</label>
        <div class="col-sm-6">
          <select name="typeOperation" class="form-control" [(ngModel)]="operationSelected" (change)="handleTypeOperationChanged()">
            <option [ngValue]="0">(Todos)</option>
            <option *ngFor="let operation of operations" [ngValue]="operation.id">
              {{ operation.nameTypeOperation }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="btn-toolbar col-sm-12">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary btn-sm" (click)="handleDownloadReport()"><i class="icon-Descargar"></i> Descargar Archivos</button>
  </div>
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary btn-sm" (click)="handleCleanSearch()"><i class="icon-eliminar"></i> Limpiar Búsqueda</button>
  </div>
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary btn-sm" (click)="handleSearch()"><i class="icon-Lupa"></i> Buscar</button>
  </div>
</div><br><br>