<section>
  <span id="ss_img_wrapper_gmogs_image_125-50_en_blue"><a href="https://www.globalsign.com/"
    target="_blank" title="Haga Click para Verificar - Este sitio cuenta con un Certificado SSL para asegurar la confidencialidad de sus comunicaciones." rel="nofollow">
    <img alt="SSL" border="0" id="ss_img" 
    src="//seal.globalsign.com/SiteSeal/images/gs_noscript_125-50_en.gif"></a></span>
  <footer>
    <a href="http://www.seguridadamerica.com" target="_blank" style="color: #06C; font-size: 10px;
        text-decoration: none; font-family: Arial, Helvetica, sans-serif; margin-left: 4px;
        padding-top: 4px;">Visite Seguridad Am&eacute;rica</a>
  </footer>
</section>
<div class="scriptSecurity"></div>
