<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Número de cheque</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Oficina</th>
        <th scope="col">Fecha de registro</th>
        <th scope="col">Ver detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of checks">
        <td>{{detail.idCheck}}</td>
        <td>{{detail.cityName}}</td>
        <td>{{detail.officeName}}</td>
        <td>{{detail.regDate | date: 'dd/MM/yyyy'}}</td>
        <td align="center">
          <a class="btn btn-primary icon-Lupa icono-Naranjo" (click)="handleShowDetails(detail.idCheck)"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
