<form class="form-horizontal" name="formComponent" #formComponent="ngForm" novalidate autocomplete="off">
  <fieldset [disabled]="disabled">
    <div class="row">
      <label class="col-xs-3 control-label">Boleta de Garantía:</label>
      <div class="col-xs-3">
        <div class="checkbox">
          <label>
            <input name="typeBallot" type="radio" value="BDG" [(ngModel)]="type">
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <label class="col-xs-3 control-label">Garantía a Primer Requerimiento</label>
      <div class="col-xs-3">
        <div class="checkbox">
          <label>
            <input name="typeBallot" type="radio" value="GPR" [(ngModel)]="type">
          </label>
        </div>
      </div>
    </div>
  </fieldset>
</form>