<p class="tituloGeneral h_no-MarginBottom title">
  Bienvenido al Servicio de Banca Electrónica
</p>
<div class="row">
  <img class="img-portada" src="assets/img/cw/foto-portada.gif">
  <div class="col-padding-xs col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tips y Sugerencias</h3>
      </div>
      <div class="panel-body">
        <section class="contentBox-section">
          Actualice sus datos bancarios, por las vías directas, es decir, fisicamente en las agencias de Banco.
        </section>
        <div class="panel-separator"></div>
        <section class="contentBox-section">
          Tenga siempre a la mano, los teléfonos y correos de sus agencias.
        </section>
        <div class="panel-separator"></div>
        <section class="contentBox-section">
          Utilice software antivirus actualizado. Lo compra una sola vez y lo mantiene vigente gracias a la Internet.
        </section>
        <div class="panel-separator"></div>
        <section class="contentBox-section">
          Use un firewall personal cuando se conecte a Internet. En el mercado existen variados y muy buenos.
        </section>
        <div class="panel-separator"></div>
        <section class="contentBox-section">
          No mantenga su computador conectado a Internet si no es estrictamente necesario.
        </section>
      </div>
    </div>
  </div>
  <div class="col-padding-xs col-xs-12 col-sm-3 col-md-4 ">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Novedades</h3>
      </div>
      <div class="panel-body">
        <section class="contentBox-section">
          <img _ngcontent-c7="" class="img-portada" src="assets/img/cw/solicitud_modificaciones-principal.jpg">
        </section>
        <div class="panel-separator"></div>
        <section class="contentBox-section">
          <img _ngcontent-c7="" class="img-portada" src="assets/img/cw/ruat-principal.jpg">
        </section>
        <div class="panel-separator"></div>
        <section class="contentBox-section">
          <img _ngcontent-c7="" class="img-portada" src="assets/img/cw/solicitud_modificaciones-principal.jpg">
        </section>
      </div>
    </div>
  </div>
  <div class="col-padding-xs col-xs-12 col-sm-3 col-md-4 ">
    <div class="row">
      <div class="col-xs-6 col-sm-12 col-no-padding">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tipo de Cambio</h3>
          </div>
          <div class="panel-body">
            <section class="contentBox-section">
              <p>Dolar Venta <b>{{currentUser.exchange_sale}}</b></p>
              <p>Dolar Compra <b>{{currentUser.exchange_buy}}</b></p>
            </section>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-12 col-no-padding">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tarifario</h3>
          </div>
          <div class="panel-body">
            <section class="contentBox-section">
              <img _ngcontent-c7="" class="img-portada" src="assets/img/cw/imagen-tarifarios.jpg">
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>