<fieldset [disabled]="disabled">
  <div class="row">
    <button type="button" class="btn btn-primary" (click)="handleNewRow()" [disabled]="isDisableAdd">
      <span class="icon-afiliacion icono-naranjo"></span>
      Insertar Fila
    </button>
  </div>
  <br>
</fieldset>
  <app-pagination [totalItems]="detail.detail.length" [maxSize]="10" (onChange)="handlePageChanged($event)"></app-pagination>
  <br>
<fieldset [disabled]="disabled">
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
      <thead>
        <tr>
          <!--<th scope="col">Linea</th>-->
          <th scope="col">Monto</th>
          <th scope="col">Cuenta Destino</th>
          <th scope="col">Banco</th>
          <th scope="col">Tipo Documento</th>
          <th scope="col">Documento </th>
          <th scope="col">Ext. Doc</th>
          <th scope="col">Sucursal Destinatario</th>
          <th scope="col">Codigo Servicio</th>
          <th scope="col">Razon Social</th>
          <th scope="col">E-mail</th>
          <th scope="col" colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of detailPerPage" app-row-payment-odd-ach [detail]="row" (action)="handleActionRow($event)">
        </tr>
      </tbody>
    </table>
  </div>
</fieldset>
