<div class="table-responsive">
  <table class="table table-condensed table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Lote</th>
        <th scope="col" style="width: 20%">Referencia del Remitente</th>
        <th scope="col" style="width: 15%">Cuenta Origen</th>
        <th scope="col" style="width: 25%">Cliente beneficiario</th>
        <th scope="col">Moneda</th>
        <th scope="col">Monto</th>
        <th scope="col">Fecha Autorizacion</th>
        <th scope="col">SWIFT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of swifts">
        <td>{{detail.processBatchId}}</td>
        <td>{{detail.referenceSender}}</td>
        <td>{{detail.accountFormatted}}</td>
        <td>{{detail.beneficiary}}</td>
        <td>{{detail.currency}}</td>
        <td>{{detail.operationAmount}}</td>
        <td>{{detail.operationDate| date: 'dd/MM/yyyy'}}</td>
        <td>
          <button type="button" class="btn btn-default notas--icono" (click)="handleGetReport(detail)">
            <i class="icon-Descargar icono-naranjo"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>   