<td class="td-edit">
    <form class="needs-validation" name="accountNumberForm" #accountNumberForm="ngForm" autocomplete="off">
        <ng-container *ngIf="detail.isEdit">
            <input type="text" class="form-control input-table" name="destinationAccount" [(ngModel)]="detail.destinationAccount"
                appValidate="integer" appOnlyType="integer" required minlength="5" appMaxLength="14"
                #destinationAccount="ngModel">
            <app-show-errors [control]="destinationAccount"></app-show-errors>
        </ng-container>
        <ng-container *ngIf="!detail.isEdit">
            {{detail.destinationAccount}}
        </ng-container>
    </form>
</td>
<td class="td-edit">
    <form class="needs-validation" name="amountForm" #amountForm="ngForm" autocomplete="off">
        <ng-container *ngIf="detail.isEdit">
            <input type="text" class="form-control input-table" name="amount" [(ngModel)]="detail.amount" #amount="ngModel"
                required mask-money appMaxLength="15" appValidate="majorZero">
            <app-show-errors [control]="amount"></app-show-errors>
        </ng-container>
        <ng-container *ngIf="!detail.isEdit">
            {{detail.amount | number}}
        </ng-container>
    </form>
</td>
<td class="td-edit">
    <form class="needs-validation" name="beneficiaryReasonForm" #beneficiaryReasonForm="ngForm" autocomplete="off">
        <ng-container *ngIf="detail.isEdit">
            <input type="text" class="form-control input-table" name="beneficiaryReason" [(ngModel)]="detail.beneficiaryReason"
                #beneficiaryReason="ngModel" appMaxLength="30" appValidate="alphanumericBasicSymbols" appOnlyType="alphanumericBasicSymbols"
                required>
            <app-show-errors [control]="beneficiaryReason"></app-show-errors>
        </ng-container>
        <ng-container *ngIf="!detail.isEdit">
            {{detail.beneficiaryReason}}
        </ng-container>
    </form>
</td>
<td class="td-edit">
    <form class="needs-validation" name="instructionsForm" #instructionsForm="ngForm" autocomplete="off">
        <ng-container *ngIf="detail.isEdit">
            <input type="text" class="form-control input-table" name="instructions" [(ngModel)]="detail.instructions"
                appValidate="alphanumericBasicSymbols" appOnlyType="alphanumericBasicSymbols" #instructions="ngModel"
                required>
            <app-show-errors [control]="instructions"></app-show-errors>
        </ng-container>
        <ng-container *ngIf="!detail.isEdit">
            {{detail.instructions}}
        </ng-container>
    </form>
</td>
<td class="td-edit">
    <form class="needs-validation" name="detailForm" #detailForm="ngForm" autocomplete="off">
        <ng-container *ngIf="detail.isEdit">
            <input type="text" class="form-control input-table" name="detailProvider" [(ngModel)]="detail.detail"
                appValidate="alphanumericBasicSymbols" appOnlyType="alphanumericBasicSymbols" #detailProvider="ngModel"
                required>
            <app-show-errors [control]="detailProvider"></app-show-errors>
        </ng-container>
        <ng-container *ngIf="!detail.isEdit">
            {{detail.detail}}
        </ng-container>
    </form>
</td>
<td class="td-edit">
    <ng-container *ngIf="!detail.isEdit">
        {{descriptionBank}}
    </ng-container>
    <ng-container *ngIf="detail.isEdit" #bankCont>
        <select class="form-control" name="bank" [(ngModel)]="detail.bank">
            <option *ngFor="let bank of banks" [ngValue]="bank">{{bank.description}}</option>
        </select>
    </ng-container>
</td>
<td class="td-edit">
    <form class="needs-validation" name="emailProviderForm" #emailProviderForm="ngForm" autocomplete="off">
        <ng-container *ngIf="detail.isEdit">
            <input type="text" class="form-control input-table" name="emailProvider" [(ngModel)]="detail.emailProvider"
                appValidate="email" #emailProvider="ngModel" appMaxLength="50">
            <app-show-errors [control]="emailProvider"></app-show-errors>
        </ng-container>
        <ng-container *ngIf="!detail.isEdit">
            {{detail.emailProvider}}
        </ng-container>
    </form>
</td>
<td class="td-edit">
    <button *ngIf="detail.isEdit" type="button" class="btn btn-success" (click)="handleValidateForm(detail.bank)">aceptar</button>
    <button *ngIf="!detail.isEdit" type="button" class="btn btn-primary" (click)="handleEdit()">editar</button>
</td>
<td class="td-edit">
    <button *ngIf="detail.isEdit" type="button" class="btn btn-danger" (click)="handleCancel()">cancelar</button>
    <button *ngIf="!detail.isEdit" type="button" class="btn btn-danger" (click)="isUpdateModalVisible=true">eliminar</button>
</td>
<app-modal [visible]="isUpdateModalVisible" (onClose)="isUpdateModalVisible=false" [size]="'sm'">
    <div class="app-modal-header">
        <strong>Eliminar Registro</strong>
    </div>
    <div class="app-modal-body">
        ¿Está seguro que desea eliminar el pago de la planilla?
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-primary" (click)="handleDelete()">Eliminar</button>
        <button type="button" class="btn btn-default" (click)="isUpdateModalVisible=false">Cancelar</button>
    </div>
</app-modal>