<footer class="footer" [ngClass]="klass" id="footer">
  <!-- MENÚ FLOTANTE CONSULTAS-->
  <div class="ayuda--flotante">
    <div class="ayuda--icono">
      <i class="icon-ayuda"></i>
    </div>
  </div>
  <!-- FIN MENÚ FLOTANTE CONSULTAS-->
  <div class="container">
    <div class="row">
      <!-- Logo -->
      <div class="col-md-2">
        <div class="footer--logo">
          <img src="assets/img/logo-bcp.svg" alt="BCP">
        </div>
      </div>
      <!-- Links -->
      <div class="col-md-3">
        <div class="footer--links">
          <ul>
            <li><a href="javascript:">Políticas de Seguridad</a></li>
            <li><a href="javascript:">Contáctanos</a></li>
          </ul>
        </div>
      </div>
      <!-- Legaes -->
      <div class="col-md-7">
        <p class="footer--legales">
          Esta entidad es supervisada por ASFI.
          <span>© 2017 Banco de Crédito de Bolivia S.A. Todos los derechos reservados.</span>
        </p>
      </div>
    </div>
  </div>
</footer>