<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="text-center">Tipo</th>
                <th class="text-center">Moneda</th>
                <th class="text-center">Cuenta</th>
                <th class="text-center">Titular</th>
                <th class="text-center">Saldo contable</th>
                <th class="text-center">Saldo disponible</th>
                <th class="text-center">Op. en trámite</th>
                <th class="text-center">Retenciones</th>
                <th class="text-center">Posición</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{account.application}}</td>
                <td>{{account.currency}}</td>
                <td>{{account.formattedNumber}}</td>
                <td>{{account.owner}}</td>
                <td>{{account.accountingBalance | number: '1.2-2'}}</td>
                <td>{{account.availableBalance| number: '1.2-2'}}</td>
                <td>{{account.inProgressOperations| number: '1.2-2'}}</td>
                <td>{{account.withholding| number: '1.2-2'}}</td>
                <td>{{account.position| number: '1.2-2'}}</td>
                <td>
                  <button class="btn btn-primary btn-sm icon-Lupa icono-naranjo" (click)="handleShowDetails(account.id)" [disabled]="account.owner == errorMessageGettingAccountInformation"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="text-center">Moneda</th>
                <th class="text-center">Saldo contable</th>
                <th class="text-center">Saldo disponible</th>
                <th class="text-center">Op. en trámite</th>
                <th class="text-center">Retenciones</th>
                <th class="text-center">Posición</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let balance of totalBalances">
                <td>{{balance.currency}}</td>
                <td>{{balance.accountingBalance| number: '1.2-2'}}</td>
                <td>{{balance.availableBalance| number: '1.2-2'}}</td>
                <td>{{balance.inProgressOperations| number: '1.2-2'}}</td>
                <td>{{balance.withholding| number: '1.2-2'}}</td>
                <td>{{balance.position| number: '1.2-2'}}</td>
            </tr>
        </tbody>
    </table>
</div>
