<div class="summary-card summary-card-promo">
  <header>
    <i class="icon-clave icono-naranjo"></i>
    <span class="title">Ingresa tu clave de internet utilizando el teclado virtual</span>
  </header>
  <section>
    <p>
      Tu Nueva clave de internet debe tener una longitud entre 7 y 20 caracteres compuesto por letras mayúsculas(2), minúsculas
      y números(2), además debe tener un nivel de seguridad preferentemente alto.
    </p>
  </section>
</div>
<form name="form" class="form-horizontal" (ngSubmit)="f.valid && register()" #f="ngForm" novalidate autocomplete="off">
  <div>
    <div class="form-group">
      <label class="col-sm-4">Número de Acceso: </label>
      <div class="col-sm-8">
        <input name="AccessNumber" class="form-control" type="text" [(ngModel)]="newUser.accessNumber" [readOnly]="readOnlyAccessNumber"
          appOnlyNumber appMaxLength="16" required autofocus />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4">Contraseña nueva: </label>
      <div class="col-sm-8">
        <div class="input-group">
          <span class="input-group-addon">
            <input class="form-check-input" type="radio" name="radioText" [checked]="radioSelected==='new'" (click)="handleRadio('new')">
          </span>
          <input name="newPassword" class="form-control" required type="password" [(ngModel)]="newUser.newPassword" validateEqual="confirmPassword"
            (click)="handleRadio('new')" reverse="true" readonly #txtNewPassword #txtNewPassword2="ngModel" appValidate="password"
            minlength="7" maxlength="20" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4">Confirmar contraseña: </label>
      <div class="col-sm-8">
        <div class="input-group">
          <span class="input-group-addon">
                <input class="form-check-input" type="radio" name="radioText" [checked]="radioSelected==='confirm'" (click)="handleRadio('confirm')">
            </span>
          <input name="confirmPassword" class="form-control" required #confirmPassword="ngModel" type="password" [(ngModel)]="newUser.confirmPassword"
            (click)="handleRadio('confirm')" validateEqual="newPassword" readonly #txtConfirmPassword minlength="7" maxlength="20"
          />
        </div>
        <!-- <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !submitted)"> -->
      </div>
      <div class="col-sm-12 keyboard-content">
        <app-virtual-path (onKeyChange)="handleKeyChange($event)"></app-virtual-path>
      </div>
      <div class="col-sm-8 col-sm-offset-4">
        <div class="message-invalid" [hidden]="confirmPassword.valid">
          Las contraseñas no coinciden
        </div>
        <app-show-errors [control]="txtNewPassword2"></app-show-errors>
      </div>
    </div>
    <div class="form-group">
      <app-strength-password [passwordToVerify]="newUser.newPassword" (onVerifyStrength)="handleVerifyStrength($event)" (minLength)="4"
        (maxLength)="20"></app-strength-password>
      <app-captcha #captcha></app-captcha>
    </div>
    <div class="panel-right">
      <button class="btn btn-primary" [disabled]="!f.valid || captcha.toVerify.captchaValueToVerify.length<4">Aceptar</button>
      <button class="btn btn-secondary" routerLink="/login">Cancelar</button>
    </div>
  </div>
</form>