 Mediante la firma, el solicitante declara conocer y aceptar las siguientes condiciones:
<ol>
  <li>La Comisión cobrada por el BCP no incluye los gastos del exterior. Por lo tanto el banco pagador, intermediario y/o corresponsal
    podrá descontar sus comisiones del monto transferido.
  </li>
  <li>
    La presente remesa está relacionada a una operación legítima cuyo sustento está a disposición del banco y/o de las autoridades
    respectivas, por lo que asumimos total responsabilidad en caso de devolución o retención de fondos.
  </li>
  <li>
    El banco no asume la responsabilidad por eventuales errores o demora en la tramitación de la solicitud de la transferencia
    que se deriven de la información consignada por el cliente.
  </li>
  <li>
    Queda establecido que si el pago no llegara a realizarse por causas ajenas al banco, la comisión y los gastos generados en
    el exterior serán por cuenta del ordenante.
  </li>
  <li>
    La solicitud será atendida dentro de las 24 horas de ser recibida siempre y cuando no exceda los US$ 10,000.00. Para transferencias
    por montos superiores, este plazo estará sujeto a coordinación previa.
  </li>
  <li>
    No se permite instruir transferencias al exterior a no clientes del BCP-Bolivia por disposición del Grupo de Trabajo de Acción
    Financiera (GAFI). El ordenante de la Transferencia debe ser el titular de la cuenta.
  </li>
</ol>