<app-company-name></app-company-name>
<p class="tituloGeneral h_no-MarginBottom">CUENTA ORIGEN</p>
<app-source-accounts [accountRequest]="accountDto" [disabled]="isDisabledForm" (onChange)="handleSourceAccountChanged($event)" #sourceAccount></app-source-accounts>
<app-currency-and-amount [disabled]="isDisabledForm" [isFlagVisible]="true" [isAmountDisabled]="true" [isCurrencyBlocked]="true" [amount]="paymentInformation.amount"
                         (onChange)="handleCurrencyAndAmountChanged($event)" #currencyAndAmount></app-currency-and-amount>
<p class="tituloGeneral h_no-MarginBottom">INFORMACIÓN RUAT</p>
<app-service-list [disabled]="isDisabledForm || ruatRequest.vehicleDebt || ruatRequest.propertyDebt" [serviceType]="'ruat'" [isFirstSelected]="true" (onChange)="handleServiceListChanged($event)" #serviceList></app-service-list>
<app-ruat-request-form [disabled]="isDisabledForm || ruatRequest.vehicleDebt || ruatRequest.propertyDebt" [serviceType]="serviceList.selectedService.value" #ruatRequest></app-ruat-request-form>
<app-emails-input [disabled]="isDisabledForm" (onChange)="handleEmailsChanged($event)" #emailInput></app-emails-input>
<app-ruat-debt-detail [disabled]="isDisabledForm" [vehicleDebt]="ruatRequest.vehicleDebt" [propertyDebt]="ruatRequest.propertyDebt" [propertyDto]="ruatRequest.data" (onChange)="handleDebtDetailChanged($event)"></app-ruat-debt-detail>
<p>El servicio de pago de impuestos RUAT está disponible desde hrs. 01:30 a.m. hasta hrs. 21:30 p.m. de lunes a domingo.</p><br>
<app-company-limits></app-company-limits>
<app-approvers-and-controllers [approversRequest]="approversDto" [currency]="currencyAndAmount.data.currency" [amount]="currencyAndAmount.data.amount" [disabled]="isDisabledForm"
                               (onChange)="handleApproversAndControllersChanged($event)" #approversAndControllers></app-approvers-and-controllers>
<div *ngIf="isPaymentSuccessful"><p>{{successfulPaymentMessage}} {{processBatchNumber}}.</p></div>
<div class="panel-button">
  <button *ngIf="!isPaymentSuccessful" class="btn btn-primary" (click)="handleValidate(
          currencyAndAmount.handleValidate(),
          serviceList.handleValidate(),
          approversAndControllers.handleValidate(),
          approversAndControllers.validateApproversLimit(), sourceAccount.handleValidate())">Aceptar
  </button>
  <button class="btn btn-primary" [routerLink]="['/service-payments/ruat']">Nuevo</button>
</div>
<app-token-modal [disabled]="isTokenFormDisabled" [isVisible]="isVisibleToken" (onSubmit)="handleTokenSubmit($event)" (onClose)="isVisibleToken=false"></app-token-modal>
<app-modal [visible]="excedeedAmount" (onClose)="excedeedAmount=false" [size]="'md'">
  <div class="app-modal-header">Saldo insuficiente </div>
  <div class="app-modal-body">Estimado cliente, su operación será rechazada si no cuenta con fondos suficientes al momento de realizar la autorización.</div>
  <div class="app-modal-footer"><button type="button" class="btn btn-primary" (click)="excedeedAmount=false; showToken();">Aceptar</button></div>
</app-modal>
