<fieldset [disabled]="disabled">
    <div class="row">
      <button type="button" class="btn btn-primary" (click)="handleNewRow()" [disabled]="isDisableAdd">
        <span class="icon-afiliacion icono-naranjo"></span>
        Insertar Fila
      </button>
    </div>
    <br>
    <app-pagination [totalItems]="detail.detail.length" [maxSize]="10" (onChange)="handlePageChanged($event)"></app-pagination>
    <br>
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Cuenta Destino</th>
            <th scope="col">Glosa</th>
            <th scope="col">Monto</th>
            <th scope="col">Tipo Documento</th>
            <th scope="col">Documento </th>
            <th scope="col">Ext. Doc</th>
            <th scope="col">Titular</th>
            <th scope="col">Detalle 1</th>
            <th scope="col">Detalle 2</th>
            <th scope="col">E-mail Proveedor</th>
            <th scope="col" colspan="2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of detailPerPage" app-row-providers-payments [detail]="row" (action)="handleActionRow($event)"></tr>
        </tbody>
      </table>
    </div>
  </fieldset>